 body{
            background-color :lightgreen;
            text-align :center;
            background-image: url('image/bg.jpeg');
            background-repeat : no-repeat;
            background-size : cover;
        }
        h1{
            color: rgb(226, 43, 104)
          }
          h2{
              color: #007700;
          }
          img{
              width: 100px;
              height: 100px
          }
